// Colors
$thewa_red: #D75B5B;
$thewa_grey: #757575;
$thewa_light_grey: #E6E6E6;

// Patterns
$thewa_pattern: url("images/bg.png");

//Fonts
$display: "Pathway Gothic One", sans-serif;
$sans: Helvetica, Arial, sans-serif;
