%footer.site-footer
  .wrap
    %h2.footer-heading {{ site.title }}
    .footer-col-1.column
      %ul
        %li {{ site.title }}
        %li
          %a{:href => "mailto:{{ site.email }}"} {{ site.email }}
    .footer-col-3.column
      %p.text {{ site.description }}
