<head>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta content='width=device-width' name='viewport'>
  <meta content='{{ site.description }}' name='description'>
  <!-- Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Maven+Pro:400,700|Pathway+Gothic+One|Droid+Sans+Mono" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  <link href="{{ '/css/main.css' | prepend: site.baseurl }}" rel='stylesheet'>
</head>
